<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Project Translation</title>
    <meta name="description" content="Application submition">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./images/hc_favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script src="js/angularFire.js"></script>
  </head>
  <body ng-controller="AppProjectsCtrl">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Cutra</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="active"><a href="#">Bill Gates</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        
        <button class="btn btn-large btn-primary pull-right" type="submit">Submit</button>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th>Key</th>
              <th>English</th>
              <th>Spanish</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>YES</td>
            <td class="ng-binding">YES</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>btnLogOut</td>
            <td class="ng-binding">LogOut</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>btnCancel</td>
            <td class="ng-binding">Cancel</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>Alert</td>
            <td class="ng-binding">Alert</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>Moves</td>
            <td class="ng-binding">Moves</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>connectionErrorTitle</td>
            <td class="ng-binding">Connection error</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>connectionErrorMessage</td>
            <td class="ng-binding">There was a connection error with the server. Please try again later</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          <tr ng-repeat="app in items" class="ng-scope">
            <td>noDataUpdated</td>
            <td class="ng-binding">No data updated</td>
            <td class="ng-binding"><input type="text" clas="input-block-level" /></td>
          </tr>
          </tbody>
      </table>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      //language, app, 
    </script>
    <script type="text/javascript" src="js/session.js"></script>
    <script type="text/javascript" src="js/appTranslate.js"></script>
  </body>
</html>